
.header {
    background-color: rgb(0, 0, 0);
}

.body {
    background-color: rgb(100, 100, 100);
}

.flight-card {
    border: 0px hidden rgb(255, 255, 255); /* Ensure border is properly defined;*/ 
    border-radius: 25px; /* Apply border-radius to the entire card */
    overflow: hidden; /* Ensure content does not overflow and affect the border-radius */
}

.flight-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.flight-section {
    flex: 1;
}
  
.flight-section:nth-child(2) {
    text-align: right;
}

.right-section {
    text-align: right;
}

.plane-icon {
    font-size: 5rem; /* Adjust the size of the plane icon */
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.left-button {
    margin-right: auto;
    color: rgb(0, 0, 0);
    background-color: red;
}
  
.right-button {
    margin-left: auto;
    color: rgb(0, 0, 0);
    background-color: red;
}

.left-button:hover,
.right-button:hover {
    background-color: black;
    color: white;
}

/* Style for the modal background */
.modal-content {
    background-color: rgb(169, 169, 169); /* Light gray color */
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: rgb(169, 169, 169); /* Light gray color */
}


.small-text {
    font-size: smaller;
}
