* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-container {
    min-height: 100dvh; /* Full viewport height */
    height: 100%;
    display: flex;
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
    background-color: #000000; /* Optional: Add a background color for better visibility */
}

.form-container {
    width: 100%;
    max-width: 400px; /* Set a max-width to make it responsive */
    padding: 20px;
    background-color: #000000; /* Optional: Add a background color */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Optional: Add a box shadow for better visibility */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
}

.error {
    color: red;
    text-align: center;
    top: 10px;
}

.btn {
    background-color: red;
    color: black;
}
